.App {
  text-align: center;
}

.App-SocialMedia{
  height:20px;
  color:orange;
  position: relative;
  top: 300px;

}

.App-icon{
  position:relative;
  top:100px;
}

.MenuItems{
  color:blue;
}

.App-logo {
  position: relative;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}
