/*.App-icon{
  position:relative;
  top:100px;
}*/

.MenuItems{
  color:blue;
}

.App-logo {
  display:block;
  margin:auto;
  height: 80px;
  align-items:center;
}

.ClickMeText {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 85px;
  padding: 20px;
  align-items:center;

}

.App-intro {
  font-size: large;
}
